/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: var(--gray);
}



/* utility */ 

:root {
    --black-tran: #080b1283;
    --gray: #63666C;
    --white: white;
    --bk-color: #141922;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--gray);
    display: inline-block;
}

li {
    list-style: none;
}



/*style */ 

/* banner */


.banner {
    width: calc(100% - 200px);
    height: 7rem;
    background-color: var(--black-tran);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0; 
    right: 0;

    z-index: 999;
}

.banner button {
    margin-right: 3rem;
    padding: 0.6em 1.6em;

    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.banner button:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transform: scale(1.1);
}


/* sidebar */ 

.sidebar {
    width: 200px;
    min-height: 400px;
    height: calc(100vh - 80px);

    background-color: black;

    padding-left: 2rem;
    padding-top: 1.5rem;

    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
}

.sidebar .logo-big {
    width: 10rem;
}

.sidebar .logo-small {
    width: 20px;
    display: none;
}

/* nav */

.sidebar nav a {
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
    position: relative;
}

.sidebar nav a::before {
    content: '';
    width: 2px;
    height: 100%;

    background-color: lightgreen;

    position: absolute;
    top: 0;
    left: -2rem;

    opacity: 0;
}

.sidebar nav a:hover,
.sidebar .playlist button:hover,
.sidebar .playlist li:hover,
.sidebar .profile .download:hover {
    color: white;
    cursor: pointer;
}

.sidebar nav a:hover::before {
    opacity: 1;
}

.sidebar nav a:hover img {
    filter: brightness(0) invert(1);
}

.sidebar nav img, 
.sidebar .bottom img {
    width: 2rem;

    margin-right: 0.4rem;   
}


/*playlist*/

.sidebar .playlist {
    height: 300px;
    flex-shrink: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.playlist .title-play {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;  
}

.playlist  i {
    font-size: 2.8rem;
    line-height: 4rem;
    margin-right: 0.2rem;
}

.playlist button {
    background-color: transparent;
    border: transparent;
    color: var(--gray);
    line-height: 4rem;
}

.playlist button span {
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: top;
}

.playlist ul {
    width: 100%;
    padding-bottom: 1rem;
    height: 220px;
    overflow-y: auto;
    /* border: 1px solid white;  */
}

.playlist li {
    margin-top: 1.5rem;
}



/*profile */

.sidebar .profile {
    padding-top: 1rem;
    padding-right: 0.8rem;
    padding-left: 2rem;

    padding-bottom: 2rem;

    margin-left: -2rem;

    margin-top: auto;
    box-shadow: 0px 0 10px rgba(255, 255, 255, 0.3)
}

.profile .download {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 0.5rem;
}

.profile .download img {
    width: 1em;
    margin-right: 0.5rem;
}

.profile .user {
    padding-top: 0.5rem;
}

.profile .user img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--gray);
    vertical-align: middle;
}


/* main cont*/ 

.main-cont {
    width: 100%;
    height: 100vh;

    background-color: var(--bk-color);

    padding: 8rem 1rem;

    overflow-y: auto;
}

.main-cont nav ul {
    justify-content: center;
    flex-wrap: wrap;
}

.main-cont nav ul li {
}

.main-cont nav ul a {
    padding: 0.7rem 1em;

    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.main-cont nav ul a::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: lightgreen;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 9999;
    transform: translate(-50%, 0);
    opacity: 0;
}

.main-cont nav ul a:hover::after {
    opacity: 1;
}

.main-cont nav ul a:hover {
    color: white;
}

/* cards */ 

.main-cont h1,
.main-cont h2 {
    color: white;
}

.main-cont h1 {
    font-size: 2em;

    margin-top: 2rem;
    margin-bottom: 1rem;
}

.main-cont img {
    width: 20em;
}

.main-cont .card:before {
    content: '\f144';
    font-family: "Font Awesome 5 free"; 
    font-size: 6rem;
    position: absolute; 
    top: 26%;
    left: 35%;
    color: white;
    z-index: 999;
    opacity: 0;
}

.main-cont .card:hover.card:before {
    opacity: 1;
}

.main-cont .card:hover img {
    filter: brightness(0.5)
}

.main-cont .cards {
    gap: 1.5rem;
}

.main-cont .card {
    width: 20rem;
    text-align: center;
    position: relative;
}

.main-cont h2 {
    font-size: 1.2em;
    margin-top: 0.8rem;

    margin-bottom: 0.5rem;
}

.main-cont h3 {
    font-size: 1em;
}

.main-cont p {
    margin-bottom: 1.5rem;
}

/* Popular artist */


.main-cont .artist img {
    border-radius: 50%;
}

/* footer */ 


footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 998;
    flex: 0 2 auto;
}

footer .cont {
    width: calc(100% / 4);
    height: 100%;
    /* border: 1px solid white; */
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: stretch;
}

/* footer left */



footer .cont img {
    height: 3rem;
}

footer .cont.center {
    flex: 1 1 auto;
}

footer .song {
    padding-left: 1rem;
    padding-right: 1rem;
}

footer .cont .name-top {
    color: white;
    font-weight: bold;
}

footer .cont.center {
    flex-direction: column;
    justify-content: center;
    color: white;
}

footer .cont .player button {
    background-color: transparent;
    border: transparent;
    color: white;
}

footer .cont.center i {
    margin: 0.8rem;
}

footer .far.fa-play-circle {
    font-size: 1.5em;
}

footer .time-song {
    line-height: 1rem;
}

footer .cont .bar {
    display: inline-block;
    width: 20vw;
    height: 2.5px;
    background-color: var(--gray);
    vertical-align: middle;
    margin-right: 1rem;
    margin-left: 1rem;

    position: relative;
}

footer .cont .bar:before {
    content:'';
    width: 10vw;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

}

footer .cont.center .bar:before {
    
    animation-name: time-bar;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes time-bar {
    0% {
     width: 10vw;
    }

    99% {
        width: 15vw;
       }
  
}

footer .cont .bar:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10vw;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: white;
}

footer .cont.center .bar:after {

    animation-name: time;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes time {
    0% {
        left: 10vw;
    }

    99% {
        left: 15vw;
    }
}

footer .cont.right {
    color: white;

    justify-content: flex-end;
    padding-right: 2rem;
}

footer .cont.right i {
    margin-left: 0.5rem;
}

footer .cont.right .bar {
    width: 100px;
}

footer .cont.right .bar:before {
    width: 5vw; 
    animation: volume;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

@keyframes volume {
    0% {
    width: 5vw;
    }

    80% {
        width: 5vw;
        }

     100% {
        width: 1vw;
        }        

        
}

footer .cont.right .bar:after {
    left: 5vw;
    animation: volume-bar;

    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

@keyframes volume-bar {
    0% {
    left: 5vw;
    }

    80% {
        left: 5vw;
        }

     100% {
        left: 1vw;
        }        

        
}




@media  screen and (max-width: 840px) {

    .cards {
    flex-wrap: wrap;
    }

}



@media  screen and (max-width: 630px) {

        /*utility*/

        .hidden {
            display: none;
        }

        /* style */

        .banner {
            width: calc(100% - 50px);
        }

        .sidebar {
            width: 50px;
            padding-left: 0rem;
            padding-top: 1.5rem;
            align-items: center;
        }

        .sidebar .logo-big {
            display: none;
        }

        .sidebar .logo-small {
            display: block;
        }

        .sidebar nav {
            position: relative;
        }

        .sidebar .playlist {
            display: none;
        }

        .sidebar .profile {
            box-shadow: none;

        }

        .profile .download {
            border: none;
        }
        
        footer {
            font-size: 7px;
        } 

        footer i {
            font-size: 10px;

        }

    }


}





